body{
    margin: 0;
}

.navigation{
    border-bottom: 2px solid #f4f4f4;
}
.navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #38444d;
    overflow: hidden;
    text-align: center;
}

.navigation li{
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation li a:hover{
    background-color: #111;
}

.center-div{
    margin: auto;
    width: auto;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.center-div h1{
    margin-top: 50px;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}

.center-div span{
    color: #f45633;
    font-size: 64px;
    font-weight: bolder;
}

.center-div p{
    width: 50%;
    font-size: 20px;
    text-align: justify;
    margin: 30px auto;
}

.profile-picture img{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 150px;
    margin: 10px auto 0 auto;
}